# DATA and RESULTS sub-directories, and all files in them
# #######################################################
DATA/*
RESULTS/*

# OS generated .DS_Store files 
# ############################ 
*.DS_Store 

# My notes
# ########
GitHub_Notes_HD.txt

